<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Component</title>
    <link rel="stylesheet" href="./input.css">
    <script src="./input.js"></script>
</head>
<body>
    <Anorcle-Float-Input label="First Name" id="afi-1" type="text"></Anorcle-Float-Input>
    <Anorcle-Float-Input label="Last Name" id="afi-2" type="text"></Anorcle-Float-Input>
    <Anorcle-Float-Input label="Email Address" id="afi-3" type="email"></Anorcle-Float-Input>
    <Anorcle-Float-Input label="Enter Date" id="afi-4" type="date"></Anorcle-Float-Input>
    <Anorcle-Float-Input label="Enter Time" id="afi-5" type="time"></Anorcle-Float-Input>
    <Anorcle-Float-Input label="Your Address" id="afi-6" type="text" multiline="true"></Anorcle-Float-Input>
</body>
</html>