.input-wrapper,
.input-wrapper .label,
.input-wrapper .input {
 font-size:1rem;
 font-weight:normal;
 font-family:Arial, Helvetica, sans-serif
}
.input-wrapper {
 width:100%;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 position:relative;
 padding:1em
}
.input-wrapper .label {
 position:absolute;
 height:1em;
 padding:.1em;
 top:2em;
 left:2em;
 -webkit-transition:all 0.1s ease-in-out;
 -o-transition:all 0.1s ease-in-out;
 transition:all 0.1s ease-in-out;
 cursor:text
}
.input-wrapper .input {
 -webkit-box-flex:1;
 -webkit-flex-grow:1;
 -ms-flex-positive:1;
 flex-grow:1;
 padding:1em;
 height:1em;
 border:.1em solid gray;
 border-radius:0.5em;
 background:none;
 outline: none;
}
.input-wrapper .input:focus {
 border:.1em solid blue
}
.input-wrapper .float {
 top:.625em;
 left:2.08333em;
 font-size:0.8rem;
 background-color:#fff
}
