.upAnimation {
    transition-duration: 500ms;
    transform: translateY(-150%);
    animation: up-swipe 500ms ease-in-out;
}

@keyframes up-swipe {
    0% {
        display: flex;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}