.card {
    display: none; //will be set to flex via js
    box-sizing: border-box;
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    flex-direction: column;
    padding: 24px;
    margin: 20px;
    border: 2px solid #262626;
    // box-shadow: $shadow;
    border-radius: $radius-curve;
    animation: none;

    &_header {
        font-size: x-large;
        font-weight: normal;
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }

    &_row {
        display: flex;
        justify-content: space-between;
        gap: 24px;

        Anorcle-Float-Input {
            flex: auto 1 1;
            width: 100px;
            /* without proper width value flex grow and shrink was not working properly */
        }

        @media (max-width: 430px) {
            & {
                flex-direction: column;

                Anorcle-Float-Input {
                    width: auto;
                    /* without proper width value flex grow and shrink was not working properly */
                }
            }
        }
    }

    &_row-r_20_80 {
        Anorcle-Float-Input:first-child {
            flex: auto 1 5
        }

        Anorcle-Float-Input:last-child {
            flex: auto 5 1
        }

        @media (max-width: 550px) {
            & {
                flex-direction: column;
                gap: 12px;
                margin: 12px 0;

                Anorcle-Float-Input {
                    width: auto;
                    /* without proper width value flex grow and shrink was not working properly */
                }
            }
        }
    }
}