.main_left-side {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    box-sizing: border-box;

    @media (max-width:$mobile-width) {
        flex-direction: column;
        width: auto;
    }

    .main_left-side_icon-holder {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background: #fff;
        padding: 24px;
        margin: 0;

        img {
            display: inline;
            height: 100%;
        }

        @media (max-width:$mobile-width) {
            padding: 4px;
            margin: 0;
            top: 0;
            flex-direction: row;
            justify-content: space-evenly;

            img {
                display: inline;
                height: 36px;
            }
        }

        .headings {
            text-align: center;

            @media (max-width:$mobile-width) {
                font-size: large;
            }
        }

    }

    .main_left-side_progress-holder {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
        background: #f2f2f2;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: none;

        @media (max-width:$mobile-width) {
            width: 100%;
            flex-direction: row;
            overflow: scroll;
            height: auto;
            padding-top: 10px;
        }
    }
}