$yellow: #F2C94C;

.progress-element {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 12px;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    background: transparent;
    z-index: 2;
    cursor: pointer;

    .progress-element_logo {
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid #fff;
        padding: 2px;
        position: relative;

        .status {
            display: none;
            position: absolute;
            margin-left: 34px;
            margin-top: 34px;
        }
    }

    .progress-element_text {
        width: 70%;

        &:hover {
            text-decoration: underline;
        }
    }

    .progress-line {
        position: absolute;
        width: 5px;
        height: 40px;
        background: $yellow;
        margin-left: 26px;
        margin-top: 60px;
        z-index: -1;
    }
}