.main_right-side {
    position: absolute;
    right: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 70%;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;


    .join-btn-folder {
        display: flex; //will be set to none via js
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 93vh;
        width: 100%;

        img {
            position: absolute;
            width: 35%;
            bottom: 10px;
            right: 10px;
        }
    }

    .main_right-side_card-holder {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;

        Anorcle-Float-Input {
            margin-top: 14px;
        }


    }

    .main_right-side_button-holder {
        width: 100%;
        max-width: 600px;
        height: auto;
        display: none; //will be set to flex via js
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
    }

    img {
        width: 35%;
    }

}

#addMoreSocial {
    width: 50px;
    height: 50px;
    background: $anorcleRed;
    border-radius: 50%;
    margin-left: 90%;
    margin-top: 14px;
    margin-bottom: -4px;
    cursor: pointer;
    box-shadow: $shadow;

    &:active {
        transform: scale(.9);
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        height: 30px;
        width: 4px;
        background: #fff;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 23px;
    }

    &:after {
        transform: rotate(90deg);
    }
}