.main_right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: #219653;

    .main_right-side_card-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 80%;
    }

    .main_right-side_button-holder {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}