 @import './variables', './left-side', './right-side', './buttons', './card',
 './anorcle-float-input', './animation';


 /*
     font-family: 'Montserrat', sans-serif;

    font-family: 'Poppins', sans-serif;
 */
 body {
     width: 100vw;
     height: 100vh;
     background-color: #f2f2f2;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
     overflow-x: hidden;
 }

 #main {
     width: 100%;
     height: 100%;
     background: #fff;
     border-radius: $radius-curve;
     background-color: #f2f2f2;

 }